.head{
	margin:0 auto;
	width:1000px;
	height:100px
}
.logo{
	padding:0 20px;
	width:200px;
	height:100px;
}
.top-input{
	margin:-73px 198px;
}

input{
	width:300px;
	height:40px;
	display:inline-block;
	border:1px solid #0AA1ED;
	padding:0 20px;

}
.searImg{
	margin:0px -63px;
	height:40px;
	vertical-align:center;
}
.logRes{
	margin:45px 238px;
	font-size:16px;
}
.first{
	border-right:1px solid #333;
	padding-right:5px;
}